
nav{
    width: 200px;
    height: 152px;
    background-color: #f0000f;
    border: 1px solid #000000;
    padding: 0px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    height: 30px;
    border-bottom: 1px solid #000000;
    }
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    border-left: 8px solid #ff0;
    padding-left: 10px;
    line-height: 30px;
    display: block;
}

nav ul li a:hover{
    background-color: #ff0;
    color: #000;
    border-left: 7px;
}

nav ul li:last-child{
    border-bottom: none;
    height: 30px;
    line-height: 30px;
}