/* seletor{
propriedade: valor;
propriedade: valor;
}*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(89, 91, 232);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
