/* MeDium devices (landscape tablets, 768px and up) */
@media only screen and ((min-width: 768px) and (max-width: 991.9px)) {
    body {
        background-color: #f08080;
    }
    .mdTitulo{
        display: block;
    }
    .xsTitulo, .smTitulo, .lgTitulo, .xlTitulo{
        display: none;
    }
    header{
        background-color: #ffab02;
    }
}