*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 100vw; /* VW - View Width */
    height: 100vh; /* VH - View Height */
    text-align: center;
}
.xsTitulo, .smTitulo, .mdTitulo, .lgTitulo, .xlTitulo{
    color:#ff0;
}
header{
    width: 100%;
    height: 150px;
}
